<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://res.cloudinary.com/dw2l5yiim/image/upload/v1595382885/MonsTerraLogo_i3nctc.png" width="112" height="28">
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a href="/login" class="button is-light login">
          Log in
        </a>
        <a href="/signup" class="button is-light login">
          Signup
        </a>
      </div>
    </div>
  </div>
</nav>


<div class="container has-text-centered pets-container">
  <div id="collection">
    <ul>
      {{#each pets}}
      <img src="{{this}}">
      {{/each}}
    </ul>
  </div>
</div>




<!--footer-->
<footer class="has-text-centered">
  <p> © 2020 Copyright</p>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/collection.js"></script>