<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://res.cloudinary.com/dw2l5yiim/image/upload/v1595382885/MonsTerraLogo_i3nctc.png" width="112" height="28">
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">

        <a href="/login" class="button is-light login">
          Log in
        </a>
        <a href="/signup" class="button is-light login">
          Signup
        </a>
      </div>
    </div>
  </div>
</nav>
<section class=" is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">MonsTerra</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">Please login to proceed.</p>
                <div class="box">
                    <form class="login-form">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large username-input" type="username" placeholder="Your Username" autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large password-input" type="password"
                                    placeholder="Your Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in"
                                aria-hidden="true"></i></button>
                        <p class="has-text-grey">
                            <a href="./signup">Sign Up</a> &nbsp;·&nbsp;
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/login.js"></script>
</section>