
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://res.cloudinary.com/dw2l5yiim/image/upload/v1595382885/MonsTerraLogo_i3nctc.png" width="112" height="28">
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">

        <a href="/login" class="button is-light login">
          Log in
        </a>
        <a href="/signup" class="button is-light login">
          Signup
        </a>
      </div>
    </div>
  </div>
</nav>

  <section class=" is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-black">MonsTerra</h3>
          <hr class="login-hr">
          <p class="subtitle has-text-black">Please sign up to play.</p>
          <div class="box">
            <form class="signup-form">
              <div class="field">
                <label class="label">User Name</label>
                <div class="control">
                  <input class="input username" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input password-input" type="password" placeholder="8 character min">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <p class="has-text-grey">
                  <button>Sign Up</button>
                  {{!-- <a href="../">Sign Up</a> &nbsp;&nbsp; --}}
                </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/signup.js"></script>
