/* Style the video: 100% width and height to cover the entire window */
/* #bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
  } */

/* Game Setup*/
.overlay {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    z-index: -5;
}

.console.overlay {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.sky {
    position: relative;
    padding-top: 3.5%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}
/*index.html*/
#get-started {
    display: block;
    margin-top: 100%;
}

#lore {
    text-align: center;
    display: block;
    margin-left: 20;
    margin-right: auto;
    margin-top: 10%;
    padding-left: 100;
    padding-right: 100;
}
/*game.html*/
#buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#forest {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#water {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#rocks {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#grass {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#inventorysection {
    display: block;
    margin-top: 30%;
    
}
/*inventory.html*/
#backtomap {
   display: block;
   margin-top: 45%;
}

