.overlay {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    z-index: -5;
}

.console.overlay {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.sky {
    position: relative;
    padding-top: 3.5%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}
#get-started {
    display: block;
}

#buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-top: 20%;
}

#forest {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#water {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#rocks {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#grass {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
